body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.parent{
  position: relative;
  overflow: auto;
  /* background-color: antiquewhite; */
  display: grid;
      grid-template-columns: 25% 25% 20% 20%;
      /* grid-template-rows: 150px 150px 150px 150px; */
}

.bodyabout{
  background-image: url(../public/images/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  direction: rtl;
}
h1{
  font-size: 40px;
  color: #436850;
  text-align: center;
}
.icon{
  font-size: 80px;
  color: #63502b;
}
span{
  font-size: 25px;
}
.son1{
  
  padding: 100px;
  /* width: 50px; */

}
.son2{
  
  padding: 100px;
  
}
.son3{
  
  padding: 100px;
  
}
.son4{
  
  padding: 100px;
}
.disc{
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
.sos{
  text-align: center;
  font-size: 30px;
}
.parent1{
  background-image:url(../public/images/background1-1.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #07110d; */
  height: 100vh;
}



.son11{
  background-color:#5d5c53c1 ;
  margin: auto;
  width: 700px;
  height: 220px;
  margin-top: 100px;
  opacity: .7;
  border-radius: 5%;
}

.parent2{
  overflow: auto;
  height: 500px;
  margin-top: 20px;
  
}
.law1{
  width: 350px;
  height: 280px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 15px;
  position: relative;
 
}
.law2{
  width: 350px;
  height: 280px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 15px;
  position: relative;
}
.law3{
  width: 350px;
  height: 280px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 15px;
  position: relative;
}
.pwelcome{
  padding: 3px 10px;
  color: rgb(81, 82, 83);
  font-size: 20px;
  text-align: center;
  
}
.welcome2{
  text-align: center;
  color: rgb(183, 141, 94);
  font-size: 60px;
  margin-top: 20px;
}
.i1{
  font-size: 50px;
  padding:40px 120px ;
  color: rgb(183, 141, 94);

}
.i2{
  font-size: 50px;
  padding:40px 120px ;
  color: rgb(183, 141, 94);

}
.i3{
  font-size: 50px;
  padding:40px 120px ;
  color: rgb(183, 141, 94);

}
.family{
  /* padding:0px 80px ; */
  color: rgb(97, 40, 2);
  text-align: center;

}
.Criminals{
  text-align: center;
  color: rgb(97, 40, 2);;
}
.Civil{
  text-align: center;
  color: rgb(97, 40, 2);;
}

.law1::after{
  position: absolute;
  content: " ";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgb(201, 182, 151);
  opacity: .5;
  
}
.law1:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.law2::after{
  position: absolute;
  content: " ";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgb(201, 182, 151);
  opacity: .5;
  
}
.law2:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.law3::after{
  position: absolute;
  content: " ";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgb(201, 182, 151);
  opacity: .5;
  
}
.law3:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.parent3{
  overflow: auto;
  height: 1000px;
}
.photo1{
  width: 280px;
  height: 280px;
  border: solid 1px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 220px;
 
  background-image: url(../public/images/photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  

}
.photo2{
  width: 280px;
  height: 280px;
  border: solid 1px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 120px;

  background-image: url(../public/images/photo2.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.photo3{
  width: 280px;
  height: 280px;
  border: solid 1px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 120px;
  
  background-image: url(../public/images/photo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.photo4{
  width: 280px;
  height: 280px;
  border: solid 1px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 220px;
  
  background-image: url(../public/images/photo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.photo5{
  width: 280px;
  height: 280px;
  border: solid 1px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 120px;
  
  background-image: url(../public/images/photo5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.photo6{
  width: 280px;
  height: 280px;
  border: solid 1px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 120px;
 
  background-image: url(../public/images/photo6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}
.photoley1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
  visibility: hidden;
  z-index: 30;
}
.photo1:hover .photoley1{
  visibility: visible;

}
.photoley2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
  visibility: hidden;
  z-index: 30;
}
.photo2:hover .photoley2{
  visibility: visible;

}
.photoley3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
  visibility: hidden;
  z-index: 30;
}
.photo3:hover .photoley3{
  visibility: visible;

}
.photoley4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
  visibility: hidden;
  z-index: 30;
}
.photo4:hover .photoley4{
  visibility: visible;

}
.photoley5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
  visibility: hidden;
  z-index: 30;
}
.photo5:hover .photoley5{
  visibility: visible;

}
.photoley6{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
  visibility: hidden;
  z-index: 30;
}
.photo6:hover .photoley6{
  visibility: visible;

}
.photoley1 a {
  display: block;
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 20px;
  margin-left: 240px
}
.photoley1   a  i {
  line-height: 40px;

}
.photoley2 a {
  display: block;
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 20px;
  margin-left: 240px
}
.photoley2   a  i {
  line-height: 40px;

}
.photoley3 a {
  display: block;
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 20px;
  margin-left: 240px
}
.photoley3   a  i {
  line-height: 40px;

}
.photoley4 a {
  display: block;
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 20px;
  margin-left: 240px
}
.photoley4   a  i {
  line-height: 40px;

}
.photoley5 a {
  display: block;
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 20px;
  margin-left: 240px
}
.photoley5   a  i {
  line-height: 40px;

}
.photoley6 a {
  display: block;
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 20px;
  margin-left: 240px
}
.photoley6   a  i {
  line-height: 40px;

}
.p44{
  margin-top: 30px;
  text-align: center;
  color: rgba(240, 248, 255, 0.925);
  font-size: 30px;
}
.ourns{
  text-align: center;
  color: rgba(32, 31, 31, 0.5);
  font-size: 60px;
  margin-top: 90px;
}
.parent4{
  overflow: auto;
  height: 950px;
}
.cont1{
  width: 350px;
  height: 200px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 150px;
  position: relative;
  
}
.cont2{
  width: 350px;
  height: 200px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 100px;
  position: relative;
}
.cont3{
  width: 350px;
  height: 200px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 100px;
  position: relative;
}
.cont4{
  width: 350px;
  height: 200px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 40px;
  margin-left: 150px;
  position: relative;
}
.cont5{
  width: 350px;
  height: 200px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 40px;
  margin-left: 100px;
  position: relative;
}
.cont6{
  width: 350px;
  height: 200px;
  border: solid 2px;
  display: inline;
  float: left;
  margin-top: 40px;
  margin-left: 100px;
  position: relative;
}
.io{
  font-size: 30px;
  padding:20px 40px ;
  color: rgb(28, 29, 33);
  display: inline;
}
.offer{
  text-align: center;
  color: rgb(165, 121, 39);
  font-size: 60px;
  margin-top: 120px;
}
.span1{
  color: rgb(165, 121, 39);
  font-size: 20px;
  font-weight: bold;
}
.cont1::after{
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(165, 121, 39, 0.511);
  opacity: .5;
  
}
.cont1:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.cont2::after{
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(165, 121, 39, 0.511);
  opacity: .5;
  
}
.cont2:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.cont3::after{
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(165, 121, 39, 0.511);
  opacity: .5;
  
}
.cont3:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.cont4::after{
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(165, 121, 39, 0.511);
  opacity: .5;
  
}
.cont4:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.cont5::after{
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(165, 121, 39, 0.511);
  opacity: .5;
  
}
.cont5:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.cont6::after{
  position: absolute;
  content: " ";
  width: 0;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(165, 121, 39, 0.511);
  opacity: .5;
  
}
.cont6:hover::after{

  width: 100%;
  height: 100%;
  transition: 1s;
}
.pss{
  padding: 3px 10px;
  color: rgb(165, 121, 39);
  font-size: 20px;
  text-align: center;
}
.action{
 color: rgb(189, 173, 144);
}
.parent5{
  overflow: auto;
  height: 900px;
}
.choose1{
  width: 500px;
  height: 500px;
  
  display: inline;
  float: left;
  margin-top: 70px;
  margin-left: 150px;
  
}
.choose2{
  width: 400px;
  height: 600px;
  display: inline;
  float: left;
  margin-top: 40px;
  margin-left: 300px;
  background-image: url(../public/images/photo7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.why{
  text-align: center;
  font-size: 30px;
  color: gray;
}
.shfaf{
  width: 100%;
  height: 500px;
  border: solid 2px;
  margin-top: 0px;
  position: absolute;
  z-index: 15;
  background-color: rgba(0, 0, 0,.5);
  
}
.parent6{
  overflow: auto;
  height: 500px;
  position: relative;
  z-index: 7;
  background-image: url(../public/images/photo8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.il{
  font-size: 50px;
  margin: 130px 0 0 110px;
  color: rgb(165, 121, 39);
  display: inline;
  text-align: center;
  
}

.iconf{
  margin: 50px 0 0 50px;
  font-size: 25px;
  color: rgb(165, 121, 39);
  font-weight: bold;
}
.icon1f{
  width: 300px;
  height: 300px;
  margin: 80px 0 0 50px;
  float: left;
  
}
.icon2{
  width: 300px;
  height: 300px;
  margin: 80px 0 0 70px;
  float: left;
  
}
.icon3{
  width: 300px;
  height: 300px;
  margin: 80px 0 0 70px;
  float: left;
  
}
.icon4{
  width: 300px;
  height: 300px;
  margin: 80px 0 0 70px;
  float: left;
  
}
.footer{
  width: 100%;
  height: 150px;
  background-color: rgba(62, 36, 17, 0.374);
  position: relative;
  margin-bottom: 0%;
}
.ww{
  font-size: 40px;
  margin-left: 85px;
  color: rgb(165, 121, 39);
  display: inline;
  text-align: center;
  /* text-decoration: none; */
}

.iconfoot{
width: 600px;
height: 100px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,0);

}
.afooter{
  text-decoration: none;
}
.btnlog{

  background-color:#63502b ;
  opacity: .7;
  margin: auto;
  width: 150px;
  height: 60px;
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%,-50%);

  font-size: 25px;
  border-radius: 25%;
  color: #FDF0D1;
  border: solid 4px #07110d ;
  border-radius: 15px;
}

.btnsign{
  
  background-color:#63502b ;
  opacity: .7;
  margin: auto;
  width: 150px;
  height: 60px;
  position: absolute;
  top: 80%;
  left: 65%;
  transform: translate(-50%,-50%);
  
  font-size: 25px;
  border-radius: 25%;
  color: #FDF0D1;
  border: solid 4px #07110d ;
  border-radius: 15px;
}
.btnlog:hover{
  scale: 1.1;
  
}
.btnsign:hover{
  
  scale: 1.1;
}
.p1{
  text-align: center;
  color: #FDF0D1;
  font-size: 40px;
  margin-top: 20px;
  opacity: 80%;
  padding: 20px;
}
.a1{
  color: #FDF0D1;
  font-size: 20px;
  margin-top: 150px;
  margin-left: 270px;
  opacity: 80%;
}
.a1:hover{
  color: #fdf0d19e;
  opacity: 80%;
}
.a2{
  color: #FDF0D1;
  font-size: 30px;
  
}
.a2:hover{
  color: #fdf0d184;
  opacity: 80%;
}
.iconcon{
  font-size: 60px;
  color: rgb(165, 121, 39);
  position: absolute;
  top: 10%;
  right: 40%;
  margin-bottom: 40px;
}
.contact{
  margin: auto;
  width: 150px;
  height: 150px;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.p2{
  font-size: 30px;
}
.acontact{
  color: rgb(165, 121, 39);
  font-size: 18px;
  text-decoration: none;
  position: absolute;
  top: 60%;
  right: 35%;
  /* margin-bottom: 10%; */
  
}
.acontact:hover{
  color: #63502b5c;
  
  
}
.acontact1{
  font-size: 60px;
  color: rgb(165, 121, 39);
  position: absolute;
  margin-bottom: 20%;
  right: 40%;
  margin-top: 10%;
  
}
.iconcon:hover{
  color: #63502b5c;
  
}
.h6choose{
  text-align: center;
  padding: 20px 20px;
  font-size: 50px;

}
.hinitial{
  text-align: center;
  color: #FDF0D1;
  font-size: 50px;
  /* margin-top: 20%; */
}
.logout{
  font-size:10px;
  color: gray;
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}
.section-form{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 625px;
  text-align: center;
  background-color: #fdf0d16a;
  padding: 20px;
  border: solid 4px #63502b ;
  border-radius: 15px;
}
.section-form h2{
  font-size: 40px;
  letter-spacing: 2px;
  color:#63502b;
}
.section-form form input{
  display: block;
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
  height: 30px;
  border: 1px solid;
  padding: 3px;

}
.section-form form .submit{
  background-color: #63502b;
  color: #ebe8e4;
  font-size: 25px;
  height: auto;
  width: auto;
  margin-top: 30px;
  border-radius: 15px;
  padding: 10px;
}
.reges{
  text-decoration: none;
  font-size: 20px;
  color: #0e4120;
  margin-left: 80%;
  
}
.section-formlogin{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: #fdf0d16a;
  padding: 20px;
  border: solid 4px #63502b ;
  border-radius: 15px;


}
.section-formlogin h2{
  font-size: 40px;
  letter-spacing: 2px;
  color:#63502b;
}
.section-formlogin form input{
  display: block;
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
  height: 30px;
  border: 1px solid;
  padding: 3px;

}
.section-formlogin form .submit{
  background-color: #63502b;
  color: #ebe8e4;
  font-size: 25px;
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-left: 50%;
  border-radius: 15px;
  padding: 7px;

}
.forget{
  color: #63502b;
  text-decoration: none;
  
  
}
.section-formlogin form .send{
  margin-right: 220px;
  font-size: 20px ;
  font-style: oblique ;
  font-weight: bold;
  color: #a4884f;
  margin-top: 20px;

}
.section-formlogin form .submit2{
  background-color: #63502b;
  color: #ebe8e4;
  font-size: 20px;
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-left: 60%;
  border-radius: 15px;
  padding: 10px;

}

/* .section-form form .radio{

  height: 20px;
  position: absolute;
  top: 60%;
  right:5%;
  transform: translate(-50%,-50%);
  padding: 20px;

}
.section-form form .radio2{

  height: 20px;
  position: absolute;
  top: 60%;
  left:32%;
  transform: translate(-50%,-50%);
  padding: 20px;

}
.section-form form .male{
  position: absolute;
  top: 64%;
  left:25%;
  transform: translate(-50%,-50%);

} */
.bodybird{
  background-image: url(../public/images/background1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* body{
  background-image: url(../public/images/background1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
} */
.bodylogin{
  background-image: url(../public/images/background1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}
.LOGO{
  color: #c3bfbf;
}


.login-form{
  /* width: 30%; */
  height: auto;
  text-align: left;
  /* position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-80%,-50%); */
  background-color: rgba(253, 240, 209, 0.5);
  border: 2px #63502b solid;
  padding: 25px;
  border-radius: 25px;
}
.form-control{
  background-color: rgba(253, 240, 209, 0.7);
}
.animated{
  width: 400px;
  height: 500px;
  position: relative;
}

/* .icon-flip{
  position: relative;
 
} */
.bird{
  font-size: 150px;
  color:antiquewhite;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.bird:hover{
  color:#63502b;
  transform: translate(-50%,-50%) rotateX(360deg);
  transition: 1s;
}



.loginBtn{
  width: 100px;
  height: 40px;
  position: absolute;
  background-color: rgba(18, 55, 42, 0.3);
  border: 3px #63502b solid;
  border-radius: 25px;
  color: #FDF0D1;
  cursor: pointer;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: .5s;
  border-radius: 15px;
}
.loginBtn:hover{
 transform: scale(1.1,1.1);
}
.btncase2{
  width: 80px;
  height: 30px;
  margin-right: 20px;
  background-color: #99793f;
  color: #FDF0D1;
  border-radius: 15px;

}
.btncase{
  color: #FDF0D1;
  text-decoration: none;
  border-radius: 15px;
}
.aboutus{
  color: #FDF0D1;
  text-decoration: none;
  text-align: center;
  margin-left: 300px;
}
.section-forminfo{
  position: absolute;
  top: 70%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: auto;
  text-align: center;
  background-color: #fdf0d15b;
  padding: 20px;
  border: solid 4px #63502b ;
}
.photoprofile{
  position: absolute;
  top: 30%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* border: solid 3px #63502b ; */
  
}
.profile{
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  color: #63502b;

}
.info{
  font-size: 40px;
  color: #63502b;
}

.section-formchange{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 450px;
  height: 550px;
  text-align: center;
  background-color: #fdf0d15b;
  padding: 20px;
  border: solid 4px #63502b ;
  border-radius: 15px;

}

    .section-form .info{
        font-size: 50px;
        letter-spacing: 2px;
        color:#63502b;
    }
    .section-formchange form input{
        display: block;
        width: 80%;
        margin-top: 15px;
        margin-left: 30px;
        height: 50px;
        border: 1px solid;
        padding: 3px;
        border-radius: 10px;
    
    }
    .btnchange{
        background-color: #63502b;
        color: #FDF0D1;
        font-size: 25px;
        padding: 5px;
        margin-top: 40px;
        border-radius: 15px;
    }
    .section-formchange form .password{
        margin-right: 180px;
        font-size: 20px ;
        font-style: oblique ;
        font-weight: bold;
        color: #4e3f1f;
        margin-top: 10px;

    }
    
    .edit{
        background-color: #FDF0D1;
        color: #63502b;
        font-size: 20px;
        padding: 5px;
        /* margin-top: 50px; */
        width: 140px;

    }
    .section-formchange form .send{
        margin-right: 220px;
        font-size: 20px ;
        font-style: oblique ;
        font-weight: bold;
        color: #0d201a;
        margin-top: 20px;

    }



.edit{
  background-color: #63502b;
  color: #f7f5f2;
  font-size: 20px;
  padding: 5px;
  /* margin-top: px; */
  width: auto;
  height: auto;
  border-radius: 15px;

}
.edit:hover{
  background-color: #463717;
}

.labell{
  display: block;
text-align: left;
}

.labbtn{
 margin: 5px;
 background-color: #63502b;
 color: #f7f5f2;
 width: auto;
 height: auto;
 padding: 10px;
 border: 0;
 border-radius: 15px;
 
}
.labbtn:hover{

  background-color: #463717;

}

.lab1{
  font-size: 20px;
  /* margin-right: 240px; */
}
.lab2{
  font-size: 20px;
  /* margin-right: 181px; */
}
.lab3{
  font-size: 20px;
  /* margin-right: 270px; */
}
.lab4{
  font-size: 20px;
  /* margin-right: 220px; */
}
.overley{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(211, 205, 205, 0.43);
  z-index: 10;
}
.cursor-pointer{

  cursor: pointer;
}
.bodylawyer{
  color: var(--font-color);
  font-family: var(--main-font);
  background-image: url(./Components/Images/photo_2024-03-09_22-30-53.jpg);
  /* height: 100vh; */
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
}
a {
  color: var(--font-color);
  text-decoration: none;
}
nav {
  background-color: var(--nav-color);
  border-radius: 4px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999;
}
.card {
  background-color: rgba(251, 251, 234, 0.585);
}

.e-profile {
  background-color: rgb(252, 255, 213);
}

.card img {
  width: 200px;
  height: 200px;
  margin: auto;
}

.logo h1 {
  font-family: "Libre Baskerville", serif;
}

.head{
    color: var(--nav-color);
}

.frmm{
  background-color: rgba(246, 246, 229, 0.427);
  color: var(--nav-color);
}

.read{
  color: var(--nav-color);
  background-color: rgba(246, 246, 229, 0.427);
  font-size: 20px;
}

.list{
  font-size: 20px;
}
.table{
  background-color: rgba(246, 246, 229, 0.427);
}

.testmonioal{
  padding-top: 100px;
}

.carousel-item img{
  width: 100px;
  transform: translateY(50%);
  
}
.carousel-indicators [data-bs-target]{
  height: 30px;
  border-radius: 50%;
  text-indent: 0px;  
}
.carousel-indicators img{
  /* text-indent: 0px; */
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.home{
  padding-top: 100px;
  color: black;
  font-size: 19px;
  padding-bottom: 30px;
  
}

.backhome{
  background-color: var(--bg-card)
}

.court h2{
  position: relative;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-size: 3.25rem;
}
.court h2::after{
  content: "Types Of Courts";
  font-size: 80px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  opacity: .2;
}
.start{
  height: 80vh;
  background-color: #63502b62;
}
.start h1{
  position: absolute;
  top: 200px;
  font-size: 80px;
  color: black;
  opacity: .7;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
.whatsapp_float{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.whatsapp-icon{
  margin-top: 1px;
}

@media screen and (max-width: 767px) {
  .whatsapp-icon{
    margin-top: 10px;
  }
  .whatsapp_float{
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}

